<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108198320714-6rm8qgfhvq6r1o9qpndqqe0j4pjbb6l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108198320714-6rm8qgfhvq6r1o9qpndqqe0j4pjbb6l7</string>
	<key>API_KEY</key>
	<string>AIzaSyD6-DXBbIGoWkihcvZ8yr0iXY_2BpmGs8M</string>
	<key>GCM_SENDER_ID</key>
	<string>108198320714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.armanabkar.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ad860</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ad860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108198320714:ios:35e66599152ac7627024b3</string>
</dict>
</plist>